#id-autores-opac-detail{
    div.cuadro-autores-sibe{
        min-width: 16em;
        background-color: #ddd;
    }
    img.foto-autor{
        height: 40px;
        width: 40px;
        clip-path: circle(50%);
        object-fit: cover;
    }
    div.cuadro-autores-sibe > div.titulo-autores{
        padding-top: 10px;
        text-align: center;
    }
    div.cuadro-autores-sibe > div.lista-autores{
        margin-bottom: 10px;
        max-height: 530px;
        overflow-wrap: break-word;
        overflow-y: auto;
    }
    ul.lista-au-com{
        list-style: none;
        padding: 0px;
    }
    li.caja-datos-autor{
        padding: 10px;
    }
    div.datos-autor-sibe > ul{
        list-style: none;
        padding: 0px;
    }
    li.nombre-autor{
        font-size: 12pt;
        a.liga-nombre{
            text-decoration: none;
            color: #d34128;
            max-width: 175px;
            padding-left: 10px;
        }
        a.liga-nombre:hover{
            text-decoration: none;
        }
    }
    div.icono-user-autores{
        color: #000;
    }
    li.id-autores-cat{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 11pt;
    }
    li.id-autores-cat-item{
        margin-left: 20px;
        font-size: 10pt;
    }
    img.logo-img-perfiles{
        max-width: 25px;
        max-height: 25px;
        margin-right: 10px;
        margin-top: 4px;
    }
    li.boton-registros-autor{
        margin-top: 15px;
        text-align: center;
        button{
            background-color: #d34128;
            border-color: #d34128;
        }
    }
}
#id-autores-opac-authoritiesdetail{
    margin-top: 100px;
    div.cuadro-autores-sibe{
        min-width: 16em;
    }
    li.fotografia-autor{
        text-align: center;
    }
    img.foto-autor{
        height: 200px;
        width: 200px;
        clip-path: circle(50%);
        object-fit: cover;
        margin-bottom: 20px;
    }
    div.cuadro-autores-sibe > div.titulo-autores{
        padding-top: 10px;
        text-align: center;
    }
    div.cuadro-autores-sibe > div.lista-autores{
        margin-bottom: 10px;
    }
    ul.lista-au-com{
        list-style: none;
        padding: 0px;
    }
    li.caja-datos-autor{
        padding: 10px;
    }
    div.datos-autor-sibe > ul{
        list-style: none;
        padding: 0px;
    }
    li.nombre-autor{
        color: #d34128;
        font-size: 14pt;
    }
    div.icono-user-autores{
        color: #000;
    }
    li.id-autores-cat{
        margin-top: 10px;
        margin-left: 5px;
        font-size: 13pt;
    }
    li.id-autores-cat-item{
        margin-left: 20px;
        font-size: 12pt;
    }
    img.logo-img-perfiles{
        max-width: 25px;
        max-height: 25px;
        margin-right: 10px;
        margin-top: 4px;
    }
    li.boton-registros-autor{
        margin-top: 15px;
        text-align: center;
        button{
            background-color: #d34128;
            border-color: #d34128;
        }
    }
}



